@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?px83rz');
  src:  url('fonts/icomoon.eot?px83rz#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?px83rz') format('truetype'),
    url('fonts/icomoon.woff?px83rz') format('woff'),
    url('fonts/icomoon.svg?px83rz#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-game-controller:before {
  content: "\e903";
}
.icon-home:before {
  content: "\e904";
}
.icon-typing:before {
  content: "\e905";
}
.icon-paypal:before {
  content: "\e906";
}
.icon-facebook:before {
  content: "\e901";
}
.icon-twitter:before {
  content: "\e902";
}
.icon-youtube:before {
  content: "\e900";
}
